In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import seaborn as sns

In [4]:
data = sns.load_dataset('mpg')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null object
name            398 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
data[(data['horsepower'].isnull())]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [8]:
# Isi Missing Value Horsepower dengan Masing Masing Mean dari origin

# Mean Horse Power dari USA
meanUSA = data[data['origin'] == 'usa']['horsepower'].mean()
meanEurope = data[data['origin'] == 'europe']['horsepower'].mean()

In [9]:
data.iloc[32] = data.iloc[32].fillna(meanUSA)

In [10]:
data.iloc[32]

mpg                     25
cylinders                4
displacement            98
horsepower         119.049
weight                2046
acceleration            19
model_year              71
origin                 usa
name            ford pinto
Name: 32, dtype: object

In [11]:
def applyHorsepower(x):
    if(x['horsepower'] > 0):
        return x['horsepower']
    else :
        if(x['origin'] == 'usa'):
            return meanUSA
        else:
            return meanEurope

In [12]:
data['horsepower'] = data[[ 'horsepower' ,'origin' ]].apply(applyHorsepower , axis=1)

In [13]:
data.iloc[374]

mpg                         23
cylinders                    4
displacement               151
horsepower             119.049
weight                    3035
acceleration              20.5
model_year                  82
origin                     usa
name            amc concord dl
Name: 374, dtype: object

## df.apply()

In [14]:
dictionary = {
    'bulan' : 'jan feb jan okt nov des feb aug des'.split(' '),
    'berat' : [63,65,62,59,60,63,70,68,69]
}
df = pd.DataFrame(dictionary)

In [15]:
def applyBulan(x) :
    return x['berat'] // 2

In [16]:
df['setengahBerat'] =  df[['bulan' , 'berat']].apply(applyBulan ,axis=1)
df

  bulan  berat  setengahBerat
0   jan     63             31
1   feb     65             32
2   jan     62             31
3   okt     59             29
4   nov     60             30
5   des     63             31
6   feb     70             35
7   aug     68             34
8   des     69             34

In [17]:
ls = [3,4,2,4,3,4,3,4]
def filterLs (x) :
    return x <= 3
list(filter(filterLs,ls))

[3, 2, 3, 3]

In [18]:
def duplikatFilter(func,ls):
    newList = []
    for item in ls:
        if(func(item) == True):
            newList.append(item)
    return newList

In [19]:
duplikatFilter(filterLs,ls)

[3, 2, 3, 3]

## Titanic Applying Missing Value

In [20]:
dfTitanic = sns.load_dataset('titanic')

In [21]:
dfTitanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [22]:
pd.options.display.max_rows=1000
dfTitanic[dfTitanic['age'].isnull()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
45,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
55,1,1,male,NaN,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
77,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
87,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
95,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
101,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
107,1,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,yes,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
121,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
154,0,3,male,NaN,0,0,7.3125,S,Third,man,True,NaN,Southampton,no,True
158,0,3,male,NaN,0,0,8.6625,S,Third,man,True,NaN,Southampton,no,True
159,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
166,1,1,female,NaN,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
168,0,1,male,NaN,0,0,25.9250,S,First,man,True,NaN,Southampton,no,True
176,0,3,male,NaN,3,1,25.4667,S,Third,man,True,NaN,Southampton,no,False
180,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
185,0,1,male,NaN,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
201,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
223,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
229,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
235,0,3,female,NaN,0,0,7.5500,S,Third,woman,False,NaN,Southampton,no,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
250,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
270,0,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
274,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
277,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
284,0,1,male,NaN,0,0,26.0000,S,First,man,True,A,Southampton,no,True
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
298,1,1,male,NaN,0,0,30.5000,S,First,man,True,C,Southampton,yes,True
300,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
301,1,3,male,NaN,2,0,23.2500,Q,Third,man,True,NaN,Queenstown,yes,False
303,1,2,female,NaN,0,0,12.3500,Q,Second,woman,False,E,Queenstown,yes,True
304,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
306,1,1,female,NaN,0,0,110.8833,C,First,woman,False,NaN,Cherbourg,yes,True
324,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
330,1,3,female,NaN,2,0,23.2500,Q,Third,woman,False,NaN,Queenstown,yes,False
334,1,1,female,NaN,1,0,133.6500,S,First,woman,False,NaN,Southampton,yes,False
335,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
347,1,3,female,NaN,1,0,16.1000,S,Third,woman,False,NaN,Southampton,yes,False
351,0,1,male,NaN,0,0,35.0000,S,First,man,True,C,Southampton,no,True
354,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
358,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
359,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
364,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
367,1,3,female,NaN,0,0,7.2292,C,Third,woman,False,NaN,Cherbourg,yes,True
368,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
375,1,1,female,NaN,1,0,82.1708,C,First,woman,False,NaN,Cherbourg,yes,False
384,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
388,0,3,male,NaN,0,0,7.7292,Q,Third,man,True,NaN,Queenstown,no,True
409,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
410,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
411,0,3,male,NaN,0,0,6.8583,Q,Third,man,True,NaN,Queenstown,no,True
413,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
415,0,3,female,NaN,0,0,8.0500,S,Third,woman,False,NaN,Southampton,no,True
420,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
425,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
428,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
431,1,3,female,NaN,1,0,16.1000,S,Third,woman,False,NaN,Southampton,yes,False
444,1,3,male,NaN,0,0,8.1125,S,Third,man,True,NaN,Southampton,yes,True
451,0,3,male,NaN,1,0,19.9667,S,Third,man,True,NaN,Southampton,no,False
454,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
457,1,1,female,NaN,1,0,51.8625,S,First,woman,False,D,Southampton,yes,False
459,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
464,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
466,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
468,0,3,male,NaN,0,0,7.7250,Q,Third,man,True,NaN,Queenstown,no,True
470,0,3,male,NaN,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
475,0,1,male,NaN,0,0,52.0000,S,First,man,True,A,Southampton,no,True
481,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
485,0,3,female,NaN,3,1,25.4667,S,Third,woman,False,NaN,Southampton,no,False
490,0,3,male,NaN,1,0,19.9667,S,Third,man,True,NaN,Southampton,no,False
495,0,3,male,NaN,0,0,14.4583,C,Third,man,True,NaN,Cherbourg,no,True
497,0,3,male,NaN,0,0,15.1000,S,Third,man,True,NaN,Southampton,no,True
502,0,3,female,NaN,0,0,7.6292,Q,Third,woman,False,NaN,Queenstown,no,True
507,1,1,male,NaN,0,0,26.5500,S,First,man,True,NaN,Southampton,yes,True
511,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
517,0,3,male,NaN,0,0,24.1500,Q,Third,man,True,NaN,Queenstown,no,True
522,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
524,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
527,0,1,male,NaN,0,0,221.7792,S,First,man,True,C,Southampton,no,True
531,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
533,1,3,female,NaN,0,2,22.3583,C,Third,woman,False,NaN,Cherbourg,yes,False
538,0,3,male,NaN,0,0,14.5000,S,Third,man,True,NaN,Southampton,no,True
547,1,2,male,NaN,0,0,13.8625,C,Second,man,True,NaN,Cherbourg,yes,True
552,0,3,male,NaN,0,0,7.8292,Q,Third,man,True,NaN,Queenstown,no,True
557,0,1,male,NaN,0,0,227.5250,C,First,man,True,NaN,Cherbourg,no,True
560,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
563,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
564,0,3,female,NaN,0,0,8.0500,S,Third,woman,False,NaN,Southampton,no,True
568,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
573,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
578,0,3,female,NaN,1,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,False
584,0,3,male,NaN,0,0,8.7125,C,Third,man,True,NaN,Cherbourg,no,True
589,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
593,0,3,female,NaN,0,2,7.7500,Q,Third,woman,False,NaN,Queenstown,no,False
596,1,2,female,NaN,0,0,33.0000,S,Second,woman,False,NaN,Southampton,yes,True
598,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
601,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
602,0,1,male,NaN,0,0,42.4000,S,First,man,True,NaN,Southampton,no,True
611,0,3,male,NaN,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
612,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
613,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
629,0,3,male,NaN,0,0,7.7333,Q,Third,man,True,NaN,Queenstown,no,True
633,0,1,male,NaN,0,0,0.0000,S,First,man,True,NaN,Southampton,no,True
639,0,3,male,NaN,1,0,16.1000,S,Third,man,True,NaN,Southampton,no,False
643,1,3,male,NaN,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
648,0,3,male,NaN,0,0,7.5500,S,Third,man,True,NaN,Southampton,no,True
650,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
653,1,3,female,NaN,0,0,7.8292,Q,Third,woman,False,NaN,Queenstown,yes,True
656,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
667,0,3,male,NaN,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
669,1,1,female,NaN,1,0,52.0000,S,First,woman,False,C,Southampton,yes,False
674,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
680,0,3,female,NaN,0,0,8.1375,Q,Third,woman,False,NaN,Queenstown,no,True
692,1,3,male,NaN,0,0,56.4958,S,Third,man,True,NaN,Southampton,yes,True
697,1,3,female,NaN,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
709,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
711,0,1,male,NaN,0,0,26.5500,S,First,man,True,C,Southampton,no,True
718,0,3,male,NaN,0,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,True
727,1,3,female,NaN,0,0,7.7375,Q,Third,woman,False,NaN,Queenstown,yes,True
732,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
738,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
739,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
740,1,1,male,NaN,0,0,30.0000,S,First,man,True,D,Southampton,yes,True
760,0,3,male,NaN,0,0,14.5000,S,Third,man,True,NaN,Southampton,no,True
766,0,1,male,NaN,0,0,39.6000,C,First,man,True,NaN,Cherbourg,no,True
768,0,3,male,NaN,1,0,24.1500,Q,Third,man,True,NaN,Queenstown,no,False
773,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
776,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,F,Queenstown,no,True
778,0,3,male,NaN,0,0,7.7375,Q,Third,man,True,NaN,Queenstown,no,True
783,0,3,male,NaN,1,2,23.4500,S,Third,man,True,NaN,Southampton,no,False
790,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
792,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
793,0,1,male,NaN,0,0,30.6958,C,First,man,True,NaN,Cherbourg,no,True
815,0,1,male,NaN,0,0,0.0000,S,First,man,True,B,Southampton,no,True
825,0,3,male,NaN,0,0,6.9500,Q,Third,man,True,NaN,Queenstown,no,True
826,0,3,male,NaN,0,0,56.4958,S,Third,man,True,NaN,Southampton,no,True
828,1,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,yes,True
832,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
837,0,3,male,NaN,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
839,1,1,male,NaN,0,0,29.7000,C,First,man,True,C,Cherbourg,yes,True
846,0,3,male,NaN,8,2,69.5500,S,Third,man,True,NaN,Southampton,no,False
849,1,1,female,NaN,1,0,89.1042,C,First,woman,False,C,Cherbourg,yes,False
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [23]:
import math

In [24]:
meanMan = int(dfTitanic[dfTitanic['who'] == 'man']['age'].mean())
meanWoman = int(dfTitanic[dfTitanic['who'] == 'woman']['age'].mean())
meanChild = int(dfTitanic[dfTitanic['who'] == 'child']['age'].mean())

In [25]:
def applyAge(x):
    if(x['age'] > 0):
        return x['age']
    else:
        if(x['who'] == 'man'):
            return meanMan
        elif(x['who'] == 'woman'):
            return meanWoman
        else:
            return meanChild

In [26]:
dfTitanic['age'] = dfTitanic[['who' , 'age']].apply(applyAge , axis=1)

In [27]:
dfTitanic = dfTitanic.dropna(subset=['embarked'])

In [28]:
dfTitanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 15 columns):
survived       889 non-null int64
pclass         889 non-null int64
sex            889 non-null object
age            889 non-null float64
sibsp          889 non-null int64
parch          889 non-null int64
fare           889 non-null float64
embarked       889 non-null object
class          889 non-null category
who            889 non-null object
adult_male     889 non-null bool
deck           201 non-null category
embark_town    889 non-null object
alive          889 non-null object
alone          889 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 87.3+ KB

In [29]:
dfTitanic = dfTitanic.drop(columns='deck')

In [30]:
dfTitanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 14 columns):
survived       889 non-null int64
pclass         889 non-null int64
sex            889 non-null object
age            889 non-null float64
sibsp          889 non-null int64
parch          889 non-null int64
fare           889 non-null float64
embarked       889 non-null object
class          889 non-null category
who            889 non-null object
adult_male     889 non-null bool
embark_town    889 non-null object
alive          889 non-null object
alone          889 non-null bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 86.0+ KB

In [31]:
dfTitanic= dfTitanic.reset_index(drop=True)

In [32]:
dfTitanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
5,0,3,male,33.00,0,0,8.4583,Q,Third,man,True,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,Third,man,True,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,Second,woman,False,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
17,1,2,male,33.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,Third,woman,False,Southampton,no,False
19,1,3,female,32.00,0,0,7.2250,C,Third,woman,False,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,Second,man,True,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,Second,man,True,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,Third,woman,False,Southampton,yes,False
26,0,3,male,33.00,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,Southampton,no,False
28,1,3,female,32.00,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
29,0,3,male,33.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,Cherbourg,no,True
31,1,1,female,32.00,1,0,146.5208,C,First,woman,False,Cherbourg,yes,False
32,1,3,female,32.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,Southampton,no,False
36,1,3,male,33.00,0,0,7.2292,C,Third,man,True,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,Third,woman,False,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,Southampton,no,False
42,0,3,male,33.00,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,Queenstown,yes,True
45,0,3,male,33.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
46,0,3,male,33.00,1,0,15.5000,Q,Third,man,True,Queenstown,no,False
47,1,3,female,32.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
48,0,3,male,33.00,2,0,21.6792,C,Third,man,True,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,Third,man,True,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,Cherbourg,no,False
55,1,1,male,33.00,0,0,35.5000,S,First,man,True,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,Third,child,False,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,Cherbourg,no,True
61,0,1,male,45.00,1,0,83.4750,S,First,man,True,Southampton,no,False
62,0,3,male,4.00,3,2,27.9000,S,Third,child,False,Southampton,no,False
63,0,1,male,33.00,0,0,27.7208,C,First,man,True,Cherbourg,no,True
64,1,3,male,33.00,1,1,15.2458,C,Third,man,True,Cherbourg,yes,False
65,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
66,0,3,male,19.00,0,0,8.1583,S,Third,man,True,Southampton,no,True
67,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,Southampton,yes,False
68,0,3,male,26.00,2,0,8.6625,S,Third,man,True,Southampton,no,False
69,0,2,male,32.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
70,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,Southampton,no,False
71,0,2,male,21.00,0,0,73.5000,S,Second,man,True,Southampton,no,True
72,0,3,male,26.00,1,0,14.4542,C,Third,man,True,Cherbourg,no,False
73,1,3,male,32.00,0,0,56.4958,S,Third,man,True,Southampton,yes,True
74,0,3,male,25.00,0,0,7.6500,S,Third,man,True,Southampton,no,True
75,0,3,male,33.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
76,0,3,male,33.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
77,1,2,male,0.83,0,2,29.0000,S,Second,child,False,Southampton,yes,False
78,1,3,female,30.00,0,0,12.4750,S,Third,woman,False,Southampton,yes,True
79,0,3,male,22.00,0,0,9.0000,S,Third,man,True,Southampton,no,True
80,1,3,male,29.00,0,0,9.5000,S,Third,man,True,Southampton,yes,True
81,1,3,female,32.00,0,0,7.7875,Q,Third,woman,False,Queenstown,yes,True
82,0,1,male,28.00,0,0,47.1000,S,First,man,True,Southampton,no,True
83,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,Southampton,yes,True
84,1,3,female,33.00,3,0,15.8500,S,Third,woman,False,Southampton,yes,False
85,0,3,male,16.00,1,3,34.3750,S,Third,man,True,Southampton,no,False
86,0,3,male,33.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
87,1,1,female,23.00,3,2,263.0000,S,First,woman,False,Southampton,yes,False
88,0,3,male,24.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
89,0,3,male,29.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
90,0,3,male,20.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
91,0,1,male,46.00,1,0,61.1750,S,First,man,True,Southampton,no,False
92,0,3,male,26.00,1,2,20.5750,S,Third,man,True,Southampton,no,False
93,0,3,male,59.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
94,0,3,male,33.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
95,0,1,male,71.00,0,0,34.6542,C,First,man,True,Cherbourg,no,True
96,1,1,male,23.00,0,1,63.3583,C,First,man,True,Cherbourg,yes,False
97,1,2,female,34.00,0,1,23.0000,S,Second,woman,False,Southampton,yes,False
98,0,2,male,34.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
99,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,Southampton,no,True
100,0,3,male,33.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
101,0,1,male,21.00,0,1,77.2875,S,First,man,True,Southampton,no,False
102,0,3,male,33.00,0,0,8.6542,S,Third,man,True,Southampton,no,True
103,0,3,male,37.00,2,0,7.9250,S,Third,man,True,Southampton,no,False
104,0,3,male,28.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
105,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,Southampton,yes,True
106,1,3,male,33.00,0,0,7.7750,S,Third,man,True,Southampton,yes,True
107,0,3,male,38.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
108,1,3,female,32.00,1,0,24.1500,Q,Third,woman,False,Queenstown,yes,False
109,0,1,male,47.00,0,0,52.0000,S,First,man,True,Southampton,no,True
110,0,3,female,14.50,1,0,14.4542,C,Third,child,False,Cherbourg,no,False
111,0,3,male,22.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
112,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,Southampton,no,False
113,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,Cherbourg,no,True
114,0,3,male,21.00,0,0,7.9250,S,Third,man,True,Southampton,no,True
115,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
116,0,2,male,29.00,1,0,21.0000,S,Second,man,True,Southampton,no,False
117,0,1,male,24.00,0,1,247.5208,C,First,man,True,Cherbourg,no,False
118,0,3,female,2.00,4,2,31.2750,S,Third,child,False,Southampton,no,False
119,0,2,male,21.00,2,0,73.5000,S,Second,man,True,Southampton,no,False
120,0,3,male,33.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
121,0,2,male,32.50,1,0,30.0708,C,Second,man,True,Cherbourg,no,False
122,1,2,female,32.50,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
123,0,1,male,54.00,0,1,77.2875,S,First,man,True,Southampton,no,False
124,1,3,male,12.00,1,0,11.2417,C,Third,child,False,Cherbourg,yes,False
125,0,3,male,33.00,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
126,1,3,male,24.00,0,0,7.1417,S,Third,man,True,Southampton,yes,True
127,1,3,female,32.00,1,1,22.3583,C,Third,woman,False,Cherbourg,yes,False
128,0,3,male,45.00,0,0,6.9750,S,Third,man,True,Southampton,no,True
129,0,3,male,33.00,0,0,7.8958,C,Third,man,True,Cherbourg,no,True
130,0,3,male,20.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
131,0,3,female,47.00,1,0,14.5000,S,Third,woman,False,Southampton,no,False
132,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,Southampton,yes,False
133,0,2,male,25.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
134,0,2,male,23.00,0,0,15.0458,C,Second,man,True,Cherbourg,no,True
135,1,1,female,19.00,0,2,26.2833,S,First,woman,False,Southampton,yes,False
136,0,1,male,37.00,1,0,53.1000,S,First,man,True,Southampton,no,False
137,0,3,male,16.00,0,0,9.2167,S,Third,man,True,Southampton,no,True
138,0,1,male,24.00,0,0,79.2000,C,First,man,True,Cherbourg,no,True
139,0,3,female,32.00,0,2,15.2458,C,Third,woman,False,Cherbourg,no,False
140,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,Southampton,yes,True
141,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,Southampton,yes,False
142,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,Queenstown,no,True
143,0,2,male,18.00,0,0,11.5000,S,Second,man,True,Southampton,no,True
144,0,2,male,19.00,1,1,36.7500,S,Second,man,True,Southampton,no,False
145,1,3,male,27.00,0,0,7.7958,S,Third,man,True,Southampton,yes,True
146,0,3,female,9.00,2,2,34.3750,S,Third,child,False,Southampton,no,False
147,0,2,male,36.50,0,2,26.0000,S,Second,man,True,Southampton,no,False
148,0,2,male,42.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
149,0,2,male,51.00,0,0,12.5250,S,Second,man,True,Southampton,no,True
150,1,1,female,22.00,1,0,66.6000,S,First,woman,False,Southampton,yes,False
151,0,3,male,55.50,0,0,8.0500,S,Third,man,True,Southampton,no,True
152,0,3,male,40.50,0,2,14.5000,S,Third,man,True,Southampton,no,False
153,0,3,male,33.00,0,0,7.3125,S,Third,man,True,Southampton,no,True
154,0,1,male,51.00,0,1,61.3792,C,First,man,True,Cherbourg,no,False
155,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,Queenstown,yes,True
156,0,3,male,30.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
157,0,3,male,33.00,0,0,8.6625,S,Third,man,True,Southampton,no,True
158,0,3,male,33.00,8,2,69.5500,S,Third,man,True,Southampton,no,False
159,0,3,male,44.00,0,1,16.1000,S,Third,man,True,Southampton,no,False
160,1,2,female,40.00,0,0,15.7500,S,Second,woman,False,Southampton,yes,True
161,0,3,male,26.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
162,0,3,male,17.00,0,0,8.6625,S,Third,man,True,Southampton,no,True
163,0,3,male,1.00,4,1,39.6875,S,Third,child,False,Southampton,no,False
164,1,3,male,9.00,0,2,20.5250,S,Third,child,False,Southampton,yes,False
165,1,1,female,32.00,0,1,55.0000,S,First,woman,False,Southampton,yes,False
166,0,3,female,45.00,1,4,27.9000,S,Third,woman,False,Southampton,no,False
167,0,1,male,33.00,0,0,25.9250,S,First,man,True,Southampton,no,True
168,0,3,male,28.00,0,0,56.4958,S,Third,man,True,Southampton,no,True
169,0,1,male,61.00,0,0,33.5000,S,First,man,True,Southampton,no,True
170,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
171,1,3,female,1.00,1,1,11.1333,S,Third,child,False,Southampton,yes,False
172,0,3,male,21.00,0,0,7.9250,S,Third,man,True,Southampton,no,True
173,0,1,male,56.00,0,0,30.6958,C,First,man,True,Cherbourg,no,True
174,0,3,male,18.00,1,1,7.8542,S,Third,man,True,Southampton,no,False
175,0,3,male,33.00,3,1,25.4667,S,Third,man,True,Southampton,no,False
176,0,1,female,50.00,0,0,28.7125,C,First,woman,False,Cherbourg,no,True
177,0,2,male,30.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
178,0,3,male,36.00,0,0,0.0000,S,Third,man,True,Southampton,no,True
179,0,3,female,32.00,8,2,69.5500,S,Third,woman,False,Southampton,no,False
180,0,2,male,33.00,0,0,15.0500,C,Second,man,True,Cherbourg,no,True
181,0,3,male,9.00,4,2,31.3875,S,Third,child,False,Southampton,no,False
182,1,2,male,1.00,2,1,39.0000,S,Second,child,False,Southampton,yes,False
183,1,3,female,4.00,0,2,22.0250,S,Third,child,False,Southampton,yes,False
184,0,1,male,33.00,0,0,50.0000,S,First,man,True,Southampton,no,True
185,1,3,female,32.00,1,0,15.5000,Q,Third,woman,False,Queenstown,yes,False
186,1,1,male,45.00,0,0,26.5500,S,First,man,True,Southampton,yes,True
187,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,Queenstown,no,False
188,0,3,male,36.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
189,1,2,female,32.00,0,0,13.0000,S,Second,woman,False,Southampton,yes,True
190,0,2,male,19.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
191,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,Southampton,yes,False
192,1,2,male,3.00,1,1,26.0000,S,Second,child,False,Southampton,yes,False
193,1,1,female,44.00,0,0,27.7208,C,First,woman,False,Cherbourg,yes,True
194,1,1,female,58.00,0,0,146.5208,C,First,woman,False,Cherbourg,yes,True
195,0,3,male,33.00,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
196,0,3,male,42.00,0,1,8.4042,S,Third,man,True,Southampton,no,False
197,1,3,female,32.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
198,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,Southampton,no,True
199,0,3,male,28.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
200,0,3,male,33.00,8,2,69.5500,S,Third,man,True,Southampton,no,False
201,0,3,male,34.00,0,0,6.4958,S,Third,man,True,Southampton,no,True
202,0,3,male,45.50,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
203,1,3,male,18.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
204,0,3,female,2.00,0,1,10.4625,S,Third,child,False,Southampton,no,False
205,0,3,male,32.00,1,0,15.8500,S,Third,man,True,Southampton,no,False
206,1,3,male,26.00,0,0,18.7875,C,Third,man,True,Cherbourg,yes,True
207,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
208,1,1,male,40.00,0,0,31.0000,C,First,man,True,Cherbourg,yes,True
209,0,3,male,24.00,0,0,7.0500,S,Third,man,True,Southampton,no,True
210,1,2,female,35.00,0,0,21.0000,S,Second,woman,False,Southampton,yes,True
211,0,3,male,22.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
212,0,2,male,30.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
213,0,3,male,33.00,1,0,7.7500,Q,Third,man,True,Queenstown,no,False
214,1,1,female,31.00,1,0,113.2750,C,First,woman,False,Cherbourg,yes,False
215,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
216,0,2,male,42.00,1,0,27.0000,S,Second,man,True,Southampton,no,False
217,1,1,female,32.00,0,0,76.2917,C,First,woman,False,Cherbourg,yes,True
218,0,2,male,30.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
219,1,3,male,16.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
220,0,2,male,27.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
221,0,3,male,51.00,0,0,8.0500,S,Third,man,True,Southampton,no,True
222,0,3,male,33.00,0,0,7.8958,S,Third,man,True,Southampton,no,True
223,1,1,male,38.00,1,0,90.0000,S,First,man,True,Southampton,yes,False
224,0,3,male,22.00,0,0,9.3500,S,Third,man,True,Southampton,no,True
225,1,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,yes,True
226,0,3,male,20.50,0,0,7.2500,S,Third,man,True,Southampton,no,True
227,0,2,male,18.00,0,0,13.0000,S,Second,man,True,Southampton,no,True
228,0,3,female,32.00,3,1,25.4667,S,Third,woman,False,Southampton,no,False
229,1,1,female,35.00,1,0,83.4750,S,First,woman,False,Southampton,yes,False
230,0,3,male,29.00,0,0,7.7750,S,Third,man,True,Southampton,no,True
231,0,2,male,59.00,0,0,13.5000,S,Second,man,True,Southampton,no,True
232,1,3,female,5.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
233,0,2,male,24.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
234,0,3,female,32.00,0,0,7.5500,S,Third,woman,False,Southampton,no,True
235,0,2,male,44.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
236,1,2,female,8.00,0,2,26.2500,S,Second,child,False,Southampton,yes,False
237,0,2,male,19.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
238,0,2,male,33.00,0,0,12.2750,S,Second,man,True,Southampton,no,True
239,0,3,female,32.00,1,0,14.4542,C,Third,woman,False,Cherbourg,no,False
240,1,3,female,32.00,1,0,15.5000,Q,Third,woman,False,Queenstown,yes,False
241,0,2,male,29.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
242,0,3,male,22.00,0,0,7.1250,S,Third,man,True,Southampton,no,True
243,0,3,male,30.00,0,0,7.2250,C,Third,man,True,Cherbourg,no,True
244,0,1,male,44.00,2,0,90.0000,Q,First,man,True,Queenstown,no,False
245,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,Southampton,no,True
246,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,Southampton,yes,False
247,1,1,male,37.00,1,1,52.5542,S,First,man,True,Southampton,yes,False
248,0,2,male,54.00,1,0,26.0000,S,Second,man,True,Southampton,no,False
249,0,3,male,33.00,0,0,7.2500,S,Third,man,True,Southampton,no,True
250,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,Southampton,no,False
251,0,1,male,62.00,0,0,26.5500,S,First,man,True,Southampton,no,True
252,0,3,male,30.00,1,0,16.1000,S,Third,man,True,Southampton,no,False
253,0,3,female,41.00,0,2,20.2125,S,Third,woman,False,Southampton,no,False
254,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,Cherbourg,yes,False
255,1,1,female,32.00,0,0,79.2000,C,First,woman,False,Cherbourg,yes,True
256,1,1,female,30.00,0,0,86.5000,S,First,woman,False,Southampton,yes,True
257,1,1,female,35.00,0,0,512.3292,C,First,woman,False,Cherbourg,yes,True
258,1,2,female,50.00,0,1,26.0000,S,Second,woman,False,Southampton,yes,False
259,0,3,male,33.00,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
260,1,3,male,3.00,4,2,31.3875,S,Third,child,False,Southampton,yes,False
261,0,1,male,52.00,1,1,79.6500,S,First,man,True,Southampton,no,False
262,0,1,male,40.00,0,0,0.0000,S,First,man,True,Southampton,no,True
263,0,3,female,32.00,0,0,7.7500,Q,Third,woman,False,Queenstown,no,True
264,0,2,male,36.00,0,0,10.5000,S,Second,man,True,Southampton,no,True
265,0,3,male,16.00,4,1,39.6875,S,Third,man,True,Southampton,no,False
266,1,3,male,25.00,1,0,7.7750,S,Third,man,True,Southampton,yes,False
267,1,1,female,58.00,0,1,153.4625,S,First,woman,False,Southampton,yes,False
268,1,1,female,35.00,0,0,135.6333,S,First,woman,False,Southampton,yes,True
269,0,1,male,33.00,0,0,31.0000,S,First,man,True,Southampton,no,True
270,1,3,male,25.00,0,0,0.0000,S,Third,man,True,Southampton,yes,True
271,1,2,female,41.00,0,1,19.5000,S,Second,woman,False,Southampton,yes,False
272,0,1,male,37.00,0,1,29.7000,C,First,man,True,Cherbourg,no,False
273,1,3,female,32.00,0,0,7.7500,Q,Third,woman,False,Queenstown,yes,True
274,1,1,female,63.00,1,0,77.9583,S,First,woman,False,Southampton,yes,False
275,0,3,female,45.00,0,0,7.7500,S,Third,woman,False,Southampton,no,True
276,0,2,male,33.00,0,0,0.0000,S,Second,man,True,Southampton,no,True
277,0,3,male,7.00,4,1,29.1250,Q,Third,child,False,Queenstown,no,False
278,1,3,female,35.00,1,1,20.2500,S,Third,woman,False,Southampton,yes,False
279,0,3,male,65.00,0,0,7.7500,Q,Third,man,True,Queenstown,no,True
280,0,3,male,28.00,0,0,7.8542,S,Third,man,True,Southampton,no,True
281,0,3,male,16.00,0,0,9.5000,S,Third,man,True,Southampton,no,True
282,1,3,male,19.00,0,0,8.0500,S,Third,man,True,Southampton,yes,True
283,0,1,male,33.00,0,0,26.0000,S,First,man,True,Southampton,no,True
284,0,3,male,33.00,0,0,8.6625,C,Third,man,True,Cherbourg,no,True

In [33]:
# dfTitanic.to_csv('titanic_clean.csv')